body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}



.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#wrap {
  margin: 0 auto;
  text-align: left;
  width:75%;
}

#container {
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
	float:left;
	width:100%;
}

#navigation {
	float:right;
}

#header h1 {
	float:left;
}

#header {
 float:left;
 display:block;
 height:53px;
 line-height:20px;
 width:100%;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}


.digg_pagination {
	font-size: 12px;
	padding-bottom: 12px;
	float:left;
/*background: white;
  self-clearing method: */ 
}

.digg_pagination a, 
.digg_pagination span {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px; 
}

.digg_pagination span.disabled {
  color: #999;
}

.digg_pagination .next_page,
.digg_pagination .prev_page {
 border:none;
}

.digg_pagination span.current {
  font-weight: bold;
  background: #241805;
  color: #E0BD4D;
  border: 1px solid #241805; 
}

.digg_pagination a {
  text-decoration: none;
  color: #241805;
  border: 1px solid #241805; 
}

.digg_pagination a:hover, 
.digg_pagination a:focus {
  color: #E0BD4D;
  border-color: #241805; 
}

.digg_pagination .page_info {
  background: #6E1517;
  color: white;
  padding: .4em .6em;
  width: 22em;
  margin-bottom: .3em;
  text-align: center; 
}

.digg_pagination .page_info b {
  color: #003;
  background: #6aa6ed;
  padding: .1em .25em; 
}

.digg_pagination:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden; 
}

* html .digg_pagination {
  height: 1%; 
}

.col1 {
  float: left;
  width: 490px;
}
.col2 {
  float: right;
  width: 240px;
}
