<% title %(#{@user.name}'s Follows) %>

<div class="col1">
  <%= render :partial => "user", :collection => @users_followed %>
</div>

<div class="col2">
  <%= render :partial => "shared/user_info"%>
</div>