<% title %(#{@user.name}'s Followers) %>

<div class="col1">
  <%= render :partial => "user", :collection => @followers %>
</div>

<div class="col2">
  <%= render :partial => "shared/user_info"%>
</div>