<% title @user.username %>

<div class="col1">
  <ul id="stream">
    <%= render :partial => "messages/message", :collection => @messages %>
  </ul>
  <%= will_paginate @messages %>
</div>

<div class="col2">
  <%= render :partial => "shared/user_info"%>
</div>