<% title "Twit. Twitter. Twittest." %>

<p>
  Its like test for Twitter.
  You should <%= link_to "Sign up", signup_path %> or <%= link_to "Login", login_path %>
</p>

<h2>Latest Messages</h2>
<ul id="stream">
  <%= render :partial => @messages %>
</ul>

<%= periodically_call_remote(:url => root_url, :frequency => '20', :update => 'stream') %>